<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="dist/vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text" v-model="mytext"/>
        
        <ul>
            <li v-for="data in computedList" :key="data">
                {{data}}
            </li>
        </ul>
      </div>

      <script>
          var vm = new Vue({
              el:"#box",
              data:{
                  mytext:'',
                  list:["aaa","bbb","ccc","ddd","add","cee","eee"]   
              },
              computed:{
                  computedList(){
                      return this.list.filter(item=>item.indexOf(this.mytext)>-1)
                  }
              }
          })
      </script>
</body>
</html>